.login__info>p{
    font-size: 11px;
}

.signup__reg>p{

    margin-top: 15px;
    font-size: 13px;
    
}

.signup__reg {
    display: flex;
}

.backto__signin{
    margin-top: 15px;
    font-size: 13px;
    margin-left: 7px;
    color: blue;
    text-decoration:none;
}